.info {
    margin-bottom: 6rem;
}

.text {
    padding-left: 2rem;
}

.findItem {
    margin-left: 1rem;
}

.findItem .fa-facebook,
.findItem .fa-twitter,
.findItem .fa-linkedin {
    background-color: rgb(180, 180, 180);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px;
}

.text h4 {
    margin-top: 0;
}

.text p {
    line-height: 1.75rem;
}
